#sideNav {
  background-color: $bg;
  .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .navbar-toggler {
    &:focus {
      outline-color: lighten($primary, 15%);
    }
  }

  .highlight {
    position: relative;
    
    &:after {
      display: block;
      content: "";
      position: absolute;
      bottom: 7px;
      left: 65px;
      width: 9rem;
      height: 27px;
      z-index: -1;
      background-color: $hover;
      transform: scaleX(0);
      visibility: hidden;
      transform-origin: right;
      transition: .4s transform cubic-bezier(0,.01,0,1),visibility 0s .4s;
    }
    
    &:hover:after,
    &:focus:after {
      transform: scaleX(1);
      visibility: visible;
      transform-origin: left;
      transition: .2s transform cubic-bezier(0,.01,0,1);
    }
  }
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-size:100px 100px;
    width: $sidebar-base-width;
    height: 100vh;
    .navbar-brand {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin: auto auto 0;
      padding: 0.5rem;
      .img-profile {
        max-width: 11rem;
        max-height: 11rem;
        position: absolute; // Les images vont se superposer
        left: 3rem; // A gauche
        top: 6rem; // et en haut de la feuille
        display: none; // Par défaut, elles ne seront pas affichées
      }
    }
    .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      position: absolute;
      top: 18rem;
      width: 100%;
      margin-bottom: auto;
      .navbar-nav {
        flex-direction: column;

        width: 100%;
        .nav-item {
          display: block;
          .nav-link {
            display: block;
            color: $white!important;
            &:hover {
              color: $milky;
            }
          }
        }
      }
    }
  }
}
